<div class="d-flex flex-row my-4">
    <div class="mr-4">
        <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="50px" Width="50px"/>
    </div>
    <div>
        <MudSkeleton Animation="Animation.Wave" Width="50px" />
        <MudSkeleton Animation="Animation.Wave"/>
    </div>
</div>