<MudListItem Class="pa-0 px-2">
    <div class="d-flex flex-row mt-n1 mb-n1">
        <div class="mr-4">
            <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Width="40px" Height="40px" />
        </div>
        <div>
            <MudSkeleton Animation="Animation.Wave" Height="56px" Width="210px" />
        </div>
    </div>
</MudListItem>